.CategoryCard {
  width: 400px;
  height: 400px;
  background-image: url(../../resources/organicJuice.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.simple-button-white {
  width: 220px;
  height: 60px;
  border-radius: 10px;
  background-color: white;
  border: none;
  font-weight: 500;
  color: #274c5b;
  font-size: 18px;
}

@media (max-width: 768px) {
  .CategoryCard {
    width: 250px;
    height: 250px;
  }
  .simple-button-white {
    width: 160px;
    height: 50px;
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .CategoryCard {
    width: 200px;
    height: 200px;
  }
  .simple-button-white {
    width: 160px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 476px) {
  .CategoryCard {
    width: 140px;
    height: 140px;
  }
  .simple-button-white {
    width: 100px;
    height: 40px;
    font-size: 11px;
  }
}
